@font-face{
  font-family:Ramona;
  src: url(/font/Ramona-Light.ttf);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Ramona';
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

.header{
  height: 100vh;
  background-color:#FBDA57;
 }

.header h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-size: 3rem;
  font-weight: 500;
}


.img-nav{
  filter:brightness(1.1);
  mix-blend-mode:multiply;
  display: flex;
  justify-content:left;
  padding:10px;
  }

.navbar{
  width: 100%;
  height: 10vh;
  background-color:#FBDA57;
  display: flex;
  justify-content:space-around;
}

  .ul-nav{
    width: 50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   
  }

  .item{
    text-align: center;
    border:none;
    cursor: pointer;
     color:black;
    background-color: transparent;
    font-size: 1rem;
    padding: 20px;
    font-weight: 800;
    }

  .item:hover{
    transform: scale(1,1);
    line-height: 5rem;
    font-size: 1.4rem;
   }

   .container{
     width: 100%;
     height: 70vh;
     display: flex;
     justify-content:space-around;
     }

   
   .img-bio{
     padding: 50px 0px  0px 30px;
     margin-top: 60px;
   }

  .texto{
    width: 50%;
    height: 50vh;
    margin-top: 120px;
  }

  .texto p{
   font-size: 1.2rem;
   }

   .texto h2{
     text-align: center;
     margin-bottom:30px;
     font-size: 2rem;
    }

    .discos{
      width: 100%;
      height: 70vh;
      background-color: #2E4053;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .discos img{
      height: 200px;
      width: 200px;
     }

    .card1{
      flex-direction: column;
      display: flex;
      align-items: center;
    }

    .card2{
      flex-direction: column;
      display: flex;
      align-items: center;
    }